<!DOCTYPE html>
<html ng-app>
  <head>
    <title>angular.js</title>
    <link href="style.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  </head>

  <body>
    <h1>hello angular</h1>
     <form>
      <input type='text' ng-model='name' />
      <input type='submit' value='greet user'/>
    </form>

    <h3>Welcome, {{name}}</h3>
  </body>

</html>

